.page2 {
  
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.custom-heading {
  color: blue;
}
button {
  /* Size and padding */
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  background-color: #61dafb; 
  color: #000000; /* Text color is white */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover effect */
button:hover {
  background-color: #0056b3; /* Change color on hover */
  transform: scale(1.05); /* Scale the button slightly on hover */
}
